<section class="flex flex-col w-full px-10 mt-20">
    <div>

        <form [formGroup]="filtroPedidoForm" crossOrigin="Anonymous" class="grid gap-2 grid-cols-3">
            
            <mat-form-field class="w-full mr-2" appearance="outline">
                <mat-label>Cliente</mat-label>
                <input
                    matInput
                    [formControlName]="'cliente'"
                    >
                <mat-icon
                    matSuffix
                    class="icon-size-5"
                    [svgIcon]="'heroicons_outline:search'"></mat-icon>
            </mat-form-field>
            
            <mat-form-field class="w-full mr-2" appearance="outline">
                <mat-label>Fecha</mat-label>
                <input
                    matInput
                    [formControlName]="'fecha1'"
                    [matDatepicker]="picker"
                    ><!--[matDatepicker]="picker"-->
                    
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Fecha</mat-label>
                <input
                    matInput
                    [formControlName]="'fecha2'"
                    [matDatepicker]="picker2"
                    ><!--[matDatepicker]="picker"-->
                    
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </form>
    </div>

    <div>
        <table mat-table [dataSource]="dataSource" class="rounded-6xl w-full mt-10 p-5">

            <ng-container matColumnDef="id_pedido">
              <th mat-header-cell *matHeaderCellDef> Id pedido </th>
              <td mat-cell *matCellDef="let element"> {{element.id_pedido}} </td>
            </ng-container>
          
            <ng-container matColumnDef="cliente">
              <th mat-header-cell *matHeaderCellDef> Cliente </th>
              <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
            </ng-container>

            <ng-container matColumnDef="conductor">
              <th mat-header-cell *matHeaderCellDef> Conductor </th>
              <td mat-cell *matCellDef="let element"> {{element.conductor}}</td>
            </ng-container>

            <ng-container matColumnDef="fecha_despacho">
              <th mat-header-cell *matHeaderCellDef> Fecha despacho </th>
              <td mat-cell *matCellDef="let element"> {{element.fecha_despacho}} </td>
            </ng-container>

            <ng-container matColumnDef="hora_despacho">
                <th mat-header-cell *matHeaderCellDef> Hora despacho </th>
                <td mat-cell *matCellDef="let element"> {{element.hora_despacho}} </td>
            </ng-container>

            <ng-container matColumnDef="hora_llegada">
                <th mat-header-cell *matHeaderCellDef> Hora llegada </th>
                <td mat-cell *matCellDef="let element"> {{element.hora_llegada}} </td>
            </ng-container>

            <ng-container matColumnDef="hora_cargue">
                <th mat-header-cell *matHeaderCellDef> Hora cargue </th>
                <td mat-cell *matCellDef="let element"> {{element.hora_cargue}} </td>
            </ng-container>

            <ng-container matColumnDef="hora_fin">
                <th mat-header-cell *matHeaderCellDef> Hora fin </th>
                <td mat-cell *matCellDef="let element"> {{element.hora_fin}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <span (click)="cambiarEstado()" class="p-2 cursor-pointer rounded-full text-white text-sm" [ngClass]="element.estado=='2'?'bg-[#E53935]':'bg-[#26A69A]'">{{element.estado=='1'?'Despachado':'Finalizado'}}</span>
                        <span class="p-2 rounded-full text-white bg-[#37474F] text-sm ml-2">Hora llegada</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <div class="flex">
                        <button mat-button>
                            <mat-icon
                            matSuffix
                            class="icon-size-5"
                            [svgIcon]="'heroicons_outline:external-link'"></mat-icon>
                        </button>
                        <button mat-button class="bg-[#E53935]">
                            <mat-icon
                            matSuffix
                            class="icon-size-5 text-white"
                            [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</section>