<div class="w-full">
    <table mat-table [dataSource]="dataSource" class="rounded-6xl mt-10 p-5 w-full">

        <ng-container matColumnDef="valor_pedidos">
          <th mat-header-cell *matHeaderCellDef> Valor pedidos </th>
          <td mat-cell *matCellDef="let element"> {{element.valor_pedidos}} </td>
        </ng-container>
      
        <ng-container matColumnDef="abonos">
          <th mat-header-cell *matHeaderCellDef> Abonos </th>
          <td mat-cell *matCellDef="let element"> {{element.abonos}} </td>
        </ng-container>

        <ng-container matColumnDef="saldo">
          <th mat-header-cell *matHeaderCellDef> Saldo </th>
          <td mat-cell *matCellDef="let element"> {{element.saldo}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>